.Section {
    border-width: 1px;
    border-radius: 15px;
    padding: 44px;
    position: relative;

    &-IconClose {
        position: absolute;
        right: 10px;
        top: 10px;
        width: 2%;
        cursor: pointer;
    }

    &.solid {
        border-style: solid;
    }

    &.dot {
        border-style: dashed;
    }

    &-Upload {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        img {
            max-width: 40px;
            margin-bottom: 10px;
        }
    }
}
