.Section-Question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 13px;
    width: 100%;
    margin-bottom: 20px;

    &__Number {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        border-radius: 50%;
        background-color: #1B5D7E;
        color: #FFF;
        font-weight: 600;
    }

    &__Content {
        border-radius: 15px;
        padding: 10px 20px;
        background-color: #F7F7F7;
        width: 90%;

        .Title {
            font-size: 18px;
            font-weight: 600;
            color: #82878D;
            padding-bottom: 6px;
        }

        .Content {
            font-size: 24px;
            font-weight: 600;
            color: #000000;
        }
    }
}
